.flexRowContent--mobile__hero {
    height         : 480px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flexCol--mobile__hero--content {
    height         : 480px;
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flexCol--hero--content-text {
    height         : 84px;
    position       : absolute;
    top            : 0;
    left           : 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flexRowContent--mobile__hero__descount {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 84px;
    height       : 32px;
    border-radius: 4px;
    background   : #FF8324;
    display      : flex;
    align-items  : center;
    text-align   : center;
}