.imageElement--description-product--image{
    position: absolute;
    top: 8px;
    right: 8px;
}

.imageElement--hero__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.autoCompleteOuterContainer--top-menu--search{
    width: 280px;
    height: 40px;
}
