.label--ver-precio {
    border-radius  : 40px;
    padding        : 10px 40px;
    text-decoration: none;
    font-size      : 16px;
    font-weight    : 100;
    width          : 212px;
    height         : 48px;
    background     : #1D2734;
    border         : 1px solid #1D2734;
    color          : #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}
.label--comprar-button{
    text-decoration: none;
}

.flexRowContent--botonp :global(.vtex-store-link-0-x-link){
    background: pink;
}

.flexRowContent--botonp :global(.vtex-store-link-0-x-label){
    background: red;
    text-decoration: none;
}