.label--ver-precio {
    border-radius  : 40px;
    padding        : 10px 10px;
    text-decoration: none;
    font-size      : 16px;
    font-weight    : 100;
    width          : 212px;
    height         : 48px;
    background     : #1D2734;
    border         : 1px solid #1D2734;
    color          : #FFFFFF;
    text-decoration: none;
    font-size      : 12px;
    font-weight    : 400;
}

/* .label--ver-precio::after {
    content              : "Comprar";
    display              : inline-flex;
    align-items          : center;
    font-size            : 14px;
    font-weight          : 600;
    text-decoration      : none;
    color                : #1D2734;
    text-decoration-color: transparent;
}

.label--ver-precio::after {
    content            : " Comprar";
    -webkit-mask-image : url('assets/icons/nav-arrow--right.svg');
    mask-image         : url('assets/icons/nav-arrow--right.svg');
    -webkit-mask-size  : contain;
    mask-size          : contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat        : no-repeat;
    -webkit-mask-position: right center;
    mask-position      : right center;
    background-color   : #FFFFFF;
    padding-right      : 30px;
} */