.flexRowContent--slider--content{
    max-width: 1,092px;
}

.flexRowContent--cart-product {
    width          : 324px;
    height         : 336.46px;
    border-radius  : 12px;
    background: #FFFFFF;
}

.flexColChild--content-cart {
    display        : flex;
    justify-content: center;
    align-items    : center; 
}

.flexCol--content__description-product {
    height  : 79.19px;
    width   : 324px;
    position: relative;
    color: purple;
}

/*----------------------------------------------------*/

.flexRowContent--botonp{
    background: red;
    width: 212px;
    height: 48px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowContent--botonp :global(.vtex-flex-layout-0-x-stretchChildrenWidth ){
    background: blue;
    display: flex;
    justify-items: center;
    align-items: center;
}