.paragraph--category-description {
    font-size  : 12px;
    font-weight: 300;
    margin     : 0;
}
.paragraph--navigation-links{
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.paragraph--navigation-links:hover {
    border-bottom: 2px solid #1D2734;
}

