.label--login--button-login {
    background     : #1D2734;
    border-radius  : 40px;
    padding        : 10px 15px;
    color          : white;
    font-size      : 16px;
    font-weight    : 100;
}

/*
* Aqui deberia quitar la linea que sale en el botom pero por laguna razon no lo hace
*/
.link--comprar-button :global(.vtex-store-link-0-x-label--comprar-button){
    text-decoration: none;
}