.paragraph--navigation-links {
    font-weight  : 400;
    font-size    : 12px;
    width        : auto;
    border-bottom: 2px solid transparent;
    transition   : border-bottom 0.5s ease-in-out;
    cursor       : pointer;
}

.paragraph--content-texts--title{
    font-size  : 48px;
    font-weight: 600;
    margin     : 0;
    line-height: 40px;
} 

.paragraph--content-texts--subtitle {
    font-size  : 16px;
    font-weight: 300;
    color      : #FF8324;
    margin     : 0;
    line-height: 19px;
}

.paragraph--content-text--description {
    font-size    : 16px;
    font-weight  : 200;
    margin       : none;
    line-height  : 16.8px;
    color        : #1D2734;
    margin-bottom: 20px;
}