.flexRowContent--desktop__hero {
    background     : #F0F0F2;
    display        : flex;
    justify-content: space-between;
    height         : 422px;
    width          : 100%;
}

.flexColChild--texts-center--content-texts {
    display        : flex;
    max-height     : 180px;
    height         : 180px;
    justify-content: center;
}

.flexRowContent--comprar-button {
    border       : 1px solid black;
    border-radius: 40px;
    width        : 212px;
    height       : 48px;
}
