.flexRowContent--mobile__header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          :100%;
}

.flexRow--mobile__header {
    display    : flex;
    align-items: center;
}
.flexRow--mobile__header-contain{
    background: #FFFFFF;
}

.flexRowContent--mobile__heade--content {
    height     : 72px;
    display    : flex;
    align-items: center;
    max-width  : 60px;
    width      : 60px;
}

.flexRowContent--header--login-cart {
    display    : flex;
    width      : 180px;
    align-items: center;
}

.flexRowContent--mobile__header--header-bottom{
    display: flex;
}