.childrenContainer--header--delivery{
    width: 30px;
    height: 30px;
}

.link--mobile__button-login{
    background: #1D2734;
    min-width: 80px;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #1D2734;
    display: flex;
    color: #FFFfff;
    align-items: center;
    justify-content: center;
}