
.paragraph--tablet__content-texts--title{
    font-size  : 48px;
    font-weight: 600;
    margin     : 0;
    line-height: 40px;
} 

.paragraph--tablet__content-texts--subtitle {
    font-size  : 16px;
    font-weight: 300;
    color      : #FF8324;
    margin     : 0;
    line-height: 19px;
}

.paragraph--tablet__content-text--description {
    font-size    : 16px;
    font-weight  : 200;
    margin       : none;
    line-height  : 16.8px;
    color        : #1D2734;
    margin-bottom: 20px;
}